html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.tablet{
    display: none;
}
.mobil{
    display: none;
}
.nav{
    background-color: white;
    width: 100%;
    height: 3rem;
    position: fixed;
    z-index: 999;
}
a{
    text-decoration: none;
}
.strt{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
}
.na-div{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 0.9rem;
   color: black;
   font-weight: 700;
}
.nav a:hover{
    color: #f4623a;
    transition: 0.4s;
}
.nav-d-2{
    gap: 1.5rem;
}
.heder{
    position: relative;
    width: 100%;
    height: 700px;
    background-image:linear-gradient(to bottom,rgba(92, 77, 66, 0.8),rgba(92, 77, 66, 0.8)), url(../img/bg-masthead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cont-hed{
    width: 100%;
    height: 100%;
    text-align: center;
}
.div-hed{
    width: 560px;
    color: white;
}
.cont-h-hed{
    font-size: 3rem;
    font-weight: 600;
    font-family: "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
}
.kat{
    border: 2px solid #f4623a;
    width: 3rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.div-hed p{
    font-size: 1.2rem;
    font-family: "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
    color: rgba(255, 255, 255, 0.75);
    font-weight: 550;
    margin-bottom: 3rem;
}
.div-hed a{
    color: white;
    background-color: #f4623a;
    border-radius: 50rem;
    text-align: center;
    width: 11rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}
.div-hed .a-hed:hover{
    background-color: #c34e2e;
}
.cont-section-1{
    width: 100%;
    height: 30rem;
}
.cont-sec{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4623a;
}
.cont-h-hed{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
}
.kat-sec{
    border: 2px solid white;
    width: 3rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.cont-sec p{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 3rem;
}
.cont-sec a{
    color: black;
    background-color: white;
    border-radius: 50rem;
    text-align: center;
    width: 11rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}
.cont-sec-ic{
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
}
.cont-icon{
    width: 100%;
    height: 100%;
}
.cont-icon h2{
    font-size: 2.3rem;
    font-weight: 500;
}
.iconn{
    width: 228px;
    height: 225px;
    text-align: center;
}
.clip-icon{
 color: #f4623a !important;
}
.iconn h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.iconn p{
    color: #6c757d;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.9;
    font-family: "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
}
.sec-icon-1{
    gap: 3rem;
}
.sec-img{
    max-width: 100%;
    height: auto;
    margin-top: 19rem;
}
.cont-a-img{
    position: relative;
}
.cont-img{
    width: 449px;
    height: 240px;
}
.cont-img img{
    width: 449px;
    height: 240px;
}
.img-cont{
    max-width: 100%;
    height: 100%;
    padding: 0% !important;
    gap: 0 !important;
}
.hov-img{
    position: absolute;
    top: 0;
    width: 449px;
    height: 240px;
    background-color: #f4623a;
    transition: 0.5s ease;
    text-align: center;
    opacity: 0;
}
.div-img{
    opacity: 0.5;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.s-img{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sec-img a:hover .hov-img{
    opacity: 1;
}
.black{
    width: 100%;
    height: 25rem;
    background-color: rgb(32, 29, 29);
}
.sec-akh{
    width: 100%;
    height: 100%;
}
.black h2{
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
}
.black a{
    color: black;
    background-color: white;
    border-radius: 50rem;
    text-align: center;
    width: 13rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
}
.form-cont{
    width: 100%;
    height: auto;
}
.f-hed{
    width: 35rem;
}
.f-hed h2{
    font-weight: 600;
    margin-bottom: 2rem;
}
.f-hed p{
    color: #6c757d;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.kat-akh{
    border: 2px solid #f4623a;
    width: 3rem;
    display: inlin-block;
    margin-bottom: 2rem;
    text-align: center;
}
.input{
    width: 32rem;
    height: 59px;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    border-color: #6c757d33;
    border-radius: 6px;
}
.cont-inp{
    gap: 1rem;
    margin-top: 2rem;
}
#Message{
    border-color: #6c757d33;
    border-radius: 6px;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
}
.butn{
    width: 32rem;
    height: 59px;
    background-color: #f4623a;
    border-radius: 50rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border: none;
}
.phon{
    text-align: center;
    margin-top: 2rem;
}
.foot{
    width: 100%;
    color: #6c757d;
    text-align: center;
    padding: 4rem;
    margin-top: 7rem;
}
