@media only screen and (max-width: 900px) and (min-width: 551px) {
    html,body{
        width: 100%;
        height: 100%;
        background-color: 212832;
    }
    *{
        margin: 0;
        padding: 0%;
        box-sizing: border-box;}
    .tablet{
        display: block;
    }
    .mobil{
        display: none;
    }
    .desk{
        display: none;
    }
    .nav{
        position: fixed;
        width: 100%;
        height: 4rem;
        background-color: white;
        box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        z-index: 999;
        padding: 0.5rem;
    }
    .pos-re{
        position: relative;
        width: 100%;
        height: 100%;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .st-a{
        height: 100%;
        margin-left: 3rem;
        margin-top: 0.5rem;
    }
    .st-a a{
        color: #212529;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .st-a a:hover{
        color: #2937f0;
    }
    .ul-cont{
        width: 100%;
    }
   .ul-menu{
       width: 100%;
      position: absolute;
      left: 0%;
      padding: 1.2rem;
       background-color: white;
       opacity: 0;
    }
    .ul-menu li{
        margin-bottom: 1rem;
    }
    /* .ul-cont li:hover .ul-menu{
        opacity: 1;
    } */
    .menu a{
        color: #212529;
   }
   .menu{
       position: absolute;
       top: 0.5rem;
       right: 3rem;
       width: 5.5rem;
       height: 2.3rem;
       border: 1px solid rgba(0, 0, 0, 0.1);
       font-size: 0.87rem;
       text-align: center;
       border-radius: 6px;
       padding: 0.5rem;
   }
    .sebtm-a{
        color: black;
        margin-right: 1rem;
        font-size: 0.9rem;
        text-align: center;
        font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .sebtm-a:hover{
        color: #6c757d;
    }
    .btmn-1
    {
        background-color: #2937f0;
        color: white;
        border: none;
        border-radius: 50rem;
        width: 9rem;
        height: 2rem;
        font-size: 0.9rem !important;
        text-align: center;
    }
    .header-1{
        background-color: #f8f9fa;
        padding: 9.5rem;
        height: auto;
    }
    .img-hed{
        width: 162px;
        height: 48px;
    }
    .cont-h-v{
        width: 100%;
        height: 40rem;
        gap: 6rem;
        margin-bottom: 3rem;
    }
    .cont-h1{
        width: 100%;
    }
    .con-3-h1{
        width: 100%;
    }
    .nah-h1{
        width: 100%;
    }
    .nah-h1 h1{
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
        font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .nah-h1 p{
        font-size: 1.2rem;
        color: #6c757d ;
        text-align: center;
        font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-weight: 600;
    margin-bottom: 3rem;
    margin-top: 2rem;
    }
    .m-d2{
        gap: 1rem;
    }
    .cont-video-1{
        width: 100%;
    }
    .cont-v-2{
        width: 10rem;
        height: 20rem;
    }
    .circl{
        position: absolute;
        width: 321px;
        height: 321px; 
        background-image: linear-gradient(to bottom right,#2937f0,#9f1ae2 80%) ;
        border-radius: 50%;
    }
    .cont-v-ava{
        position: relative;
         width: 100%;
         height: 100%;
         margin-left: 8rem;
    }
    .cont-im-v{
        position: absolute;
        left: 17%;
        bottom: 18%;
        width: 100%;
        height: 100%;
    }
    .bag-v{
        position: absolute;
        left: 4.3%;
        top: 1.5%;
        width: 180px;
        height: 428px;
        background-color: black;
        border-radius: 10px;
    }
    .portraimg{
        position: absolute;
        width: 206px;
        min-height: 446px;
    }
    .c-v-v{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -100;
    }
    .video{
        position: absolute;
        width: 180px;
        height: 429px;
    object-fit: cover;
    border-radius: 10px;
    }
    .sec-1{
        width: 100%;
        height:auto;
        background-image: linear-gradient(to right,#2937f0,#9f1ae2);
        text-align: center;
        padding: 4rem;
        gap: 2rem;
    }
    .h1-2-sec{
        width: 100%;
       color: white;
       font-size: 2.2rem;
       font-weight: 600;
       margin-bottom: 0.5rem;
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .img-2{
        width: 113px;
        height: 48px;
    }
    
    .fa-circlec{
        color: #2937f0 !important;
        position: absolute;
        left: 75%;
        top: 20%;
        font-size: 12px;
    }
    .fa-close-1{
        color: #2937f0 !important;
        position: absolute;
        font-weight: 900;
        font-size: 18px;
        transform: rotate(-10deg);
        bottom: 0%;
        left: 7%;
    }
    .cont-sec-2{
        width: 100%;
        height: auto;
        background-color: white;
        margin-top: 3rem;
        gap: 7rem;
    }
    .c-vid-sec {
        width: 100%;
        height: 100%;
        margin-left: 25rem;
        margin-bottom: 8rem;
    }
    .circl-2{
        position: absolute;
        width: 251px;
        height: 251px; 
        background-image: linear-gradient(to bottom,#2937f0,#9f1ae2 80%) ;
        border-radius: 50%;
    }
    .cont-im-v-1{
        position: absolute;
        left: 30%;
        bottom: 38%;
        width: 100%;
        height: 100%;
    }
    .fa-circled{
        color: #2937f0 !important;
        position: absolute;
        font-size: 10px;
        bottom: -15%;
        left: 10%;
    }
    .fa-close-2{
        color: #2937f0 !important;
        position: absolute;
        font-weight: 900;
        font-size: 18px;
        transform: rotate(10deg);
        left: 95%;
        top: 8%;
    }
    .bag-vv{
        position: absolute;
        left: 5.3%;
        top: 2.5%;
        width: 180px;
        height: 428px;
        background-color: black;
        border-radius: 10px;
    }
    .cont-sec{
        width: 100%;
        height: 100%;
    }
    .cont-sec-i-2{
        flex-wrap: wrap;
    }
    .i-phon{
        text-align: center;
        max-height: 201px;
        margin-right: 2rem;
        
    }
    .i-p h3{
        font-size: 1.4rem;
        font-weight: 700;
    }
    .i-p p{
        opacity: 0.8;
        color: #6c757d;
        font-size: 0.8rem;
    }
    .text-gradient{
        font-size: 3rem;
        background: linear-gradient(#2937f0, #9f1ae2);
        background-clip: text;
        color: transparent;
    }
    .i-p{
        width: 298px;
    }
    .cont-sec-sevom{
        width: 100%;
        height: auto;
        background-color: #f8f9fa;
    }
    .container-h-i{
        width: 100%;
        height: auto;
    }
    .img-gr{
        width: 288px;
        height: 280px;
        border-radius: 50%;
        text-align: center;
        margin-left: 4rem;
        margin-bottom: 4rem;
    }
    .w-sec{
        width: 100%;
        height: 100%;
        padding:3rem;
        padding-bottom: 2rem;
    }
    .c-h2{
        margin-top: 3rem;
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .c-h2 h2{
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1;
        font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .c-h2 p{
        color: #6c757d;
        font-size: 1.4rem;
        margin-top: 1rem;
        font-weight: 500;
        font-family: var(--bs-body-font-family);
    }
    .bag-img-2{
        position: relative;
        width: 100%;
        height: 718px;
        background-image: url("https://source.unsplash.com/5g41N3uRPf8/1500x800");
        background-position: center;
    }
    .bag-img-2::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .valp{
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: 13rem;
        opacity: 1;
    }
    .cont-secch{
       width: 30rem;
    }
    .cont-secch h2{
        color: white;
        font-size: 3.5rem;
        font-weight: 600;
        font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .cont-secch a{
        display: block;
        color: white;
        border: 1px solid white;
        border-radius: 50rem;
        margin-top: 1rem;
        width: 9rem;
        padding: 0.8rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .cont-secch a:hover{
        background-color: white;
        color: black;
        border: none;
    }
    .sec-akh{
        width: 100%;
        height: 13rem;
        background-image: linear-gradient(to right,#2937f0,#9f1ae2);
        gap:1rem;
    }
    h5{
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
    .foot{
        width: 100%;
        height: 10rem;
        background-color: black;
    }
    .foot-2,
    .foot-2 a,
    h6{
        color: rgba(255, 255, 255, 0.5);
        font-family: var(--bs-body-font-family);
    }
    .foot-2{
        gap: 0.5rem;
    }
    .foot-2 a:hover{
        color: rgba(255, 255, 255, 0.75);
        text-decoration: underline;
    }
}